/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* common style  */
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.section-title{
    color: #363958;
}

/* header-section */
.logo{
    width: 200px;
}
.header-section{
    background: #FFF9F4;
}
/* hero section */
.text-color{
    color: #FA804C;
}

.nike-btn{
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}
/* category section  */
.categroy-1{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.categroy-2{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.categroy-3{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}

/* feature section  */
.feaure-icon{
    width: 70px;
}
/* footer section  */
footer{
    background: #1e272e;
}


/* media query start */
@media only screen and (max-width:600px) {
    .carousel-heading{
        font-size: 30px;
    }
    .carousel-img{
        width: 70%;
        
    }
    .section-title{
        font-size: 30px;
    }
    .nike-btn{
        padding: 5px 10px !important;
    }
    
    .feaure-icon{
        width: 50px;
        margin-right: 10px;
    }
    .feature-section h4{
        font-size: 20px;
        margin-bottom: 0;
    }
    .feature-section p{
        font-size: 14px;
    }
}